.box-container {
  display: flex;
  flex-direction: column;
}

.header-container {
  display: flex;
  background-color: rgb(0, 114, 240);
  width: 100vw;
  height: 9vh;
  justify-content: space-between;
}

.image-container {
  background-image: url("./../assets/ping-pong.jpg");
  background-size: 100%;
  background-color: blanchedalmond;
  background-position-y: -17vw;
  width: 100vw;
  height: 28vh;
}

.details-container {
  background-color: rgb(240, 240, 240);
  width: 100vw;
  height: 63vh;
}

.back-button-container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.back-button {
  width: 10vw;
  height: 10vw;
}

.option-buttons {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 5vw;
}

.directions-button {
  width: 10vw;
  height: 10vw;
  margin-left: 4vw;
}

.share-button {
  width: 10vw;
  height: 10vw;
  margin-left: 4vw;
}

.box-name {
  padding: 4vw;
  border-bottom: 0.01vw solid;
  border-color: rgb(190, 190, 190);
  background-color: whitesmoke;
  margin-bottom: 1.5vw;
}

.box-name h1 {
  margin: 0;
}

.box-name p {
  font-size: 3.6vw;
  margin: 0;
  color: dimgrey;
  font-family: Times, 'Times New Roman', serif;
  font-style: italic;
}

.box-data {
  padding: 4vw;
  border-bottom: 0.01vw solid;
  border-top: 0.01vw solid;
  border-color: rgb(190, 190, 190);
  background-color: whitesmoke;
  margin-bottom: 1.5vw;
}

.box-action {
  padding: 4vw;
  border-bottom: 0.01vw solid;
  border-top: 0.01vw solid;
  border-color: rgb(190, 190, 190);
  background-color: whitesmoke;
  display: flex;
  align-items: center;
  justify-content: center;
}

.action-botton {
  height: 6vh;
  line-height: 6vh;
  width: 85vw;
  background-image: linear-gradient(to bottom right, rgb(0, 226, 240), rgb(0, 114, 240));
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;
  color: whitesmoke;
  text-decoration: none;
  font-size: 4vh;
  font-weight: bold;
}

.action-botton:hover {
  background-image: none;
  background-color: rgb(0, 226, 240);
}
