#map {
  height: 100vh;
  width: 100vw;
}

.Map-details-conteiner {
  display: flex;
  justify-content: space-between;
  height: 15vh;
  width: 90vw;
  background-image: linear-gradient(to bottom right, rgb(0, 226, 240), rgb(0, 114, 240));
  position: fixed;
  z-index: 1;
  top: 82vh;
  left: 5vw;
  text-decoration: none;
  border-radius: 0.5vh;
  border-color: rgb(0, 114, 240);
  border-style: solid;
  border-width: 0.2vw;
}

.Map-sim-details {
  width: 60vw;
  /* ellipsis seems to not be working */
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  display: block;
}

.Map-sim-details h1 {
  text-overflow: ellipsis;
  font-size: 5vw;
  margin: 8px;
  color: black;
}

.Map-sim-details h3 {
  font-size: 3.2vw;
  margin: 8px;
}

.Map-data {
  color: rgb(80, 130, 10);
}

.Map-mins {
  color: navy;
}

.Map-sim-details h2 {
  font-size: 3.5vw;
  margin: 8px;
  margin-top: 10px;
  color: whitesmoke;
}

.Map-sim-details h4 {
  font-size: 2.5vw;
  margin: 8px;
  color: whitesmoke;
}

.Map-sim-image {
  width: 70px;
  height: 76px;
}

.Map-sim-type {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 20px;
}

.Map-add-image {
  width: 75px;
  height: 75px;
}

.Map-sim-details p {
  font-size: 2.5vw;
  margin: 0px;
  color: whitesmoke;
}