.SignUp-header-container {
  display: flex;
  background-color: rgb(0, 114, 240);
  width: 100vw;
  height: 9vh;
  justify-content: space-between;
}

.SignUp-title-container {
  height: 100%;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.SignUp-title-container p {
  font-size: 2.5vh;
  color: lightgray;
}

.SignUp-signup-container {
  background-color: rgb(240, 240, 240);
  width: 100vw;
  height: 91vh;
}

.SignUp-form-container {
  border-bottom: 0.01vw solid;
  border-color: rgb(190, 190, 190);
  background-color: whitesmoke;
  margin-bottom: 1.5vw;
  padding: 4vw;
}

.SignUp-action-container {
  padding: 4vw;
  border-bottom: 0.01vw solid;
  border-top: 0.01vw solid;
  border-color: rgb(190, 190, 190);
  background-color: whitesmoke;
  display: flex;
  align-items: center;
  justify-content: center;
}

.SignUp-action-container p {
  margin: 0;
}

.SignUp-form-container p {
  margin: 0;
  margin-top: 1vh;
  margin-bottom: 0.3vh;
  font-weight: bold;
}

.SignUp-form-container select {
  font-size: 2.5vh;
  height: 4vh;
}

.SignUp-form-container input {
  font-size: 2vh;
  height: 3.5vh;
}